@{ ViewData["Title"] = "Home Page";}

<div class="text-center">
    <h1 class="display-4">LUNCH?</h1>
</div>
<div class="form-cont">
    <form method="post" class="act-form">
        <div class="inp-cont-nbg">
            <div class="inp-label-sized">
                <label class="inp-label">Zip:</label>
            </div>
            <input type="text" name="zip" class="inp-lg" @{if (!(ViewBag.profile is null)) { <text> value="@ViewBag.profile.zip" </text>  } } />
            <span></span>
        </div>
        <div class="inp-cont-nbg">
            <div class="inp-label-sized">
                <label class="inp-label">Search:</label>
            </div>
            <input type="text" name="searchtext" class="inp-lg" } />
            <span></span>
        </div>
        <div class="flex-end">
            <input class="button2" type="submit" value="Find lunch near me" />
        </div>
    </form>
</div>
<div class="resturant_list">
    @{ foreach (var resturant in ViewBag.resturants)
        {
<div class="resturant_detail">
    <span class="resturant_name">@resturant.name</span>
    @Html.ActionLink("Details", "ResturantDetails", "Food", new { id = resturant.id })
</div> } }
</div>
