@using Microsoft.AspNetCore.Http
@{ ViewData["Title"] = "Home Page";}


<div class="cont">
    <div class="title">Lunch?</div>

    <div class="form-cont">
        <form method="post" class="act-form">
            <div class="inp-cont-nbg">
                <div class="inp-label-sized">
                    <label class="inp-label">Zip:</label>
                </div>
                <input type="text" name="zip" class="inp-lg" @{if (!(ViewBag.profile is null)) { <text> value="@ViewBag.profile.zip" </text>  } } />
                <span></span>
            </div>
            <div class="inp-cont-nbg">
                <div class="inp-label-sized">
                    <label class="inp-label">Search:</label>
                </div>
                <input type="text" name="searchtext" class="inp-lg" } />
                <span></span>
            </div>
            <div class="btn">
                <input class="button2" type="submit" value="Find Lunch Near Me!" />
            </div>

            @{ 
                if(ViewBag.profile is null)
                {
                    <div class="note">Note: Sign in or Sign up in order to save your zip code and add restrictions/requests!</div>
                }
            }

        </form>
    </div>
    <div class="resturant-list">
        @{ foreach (var resturant in ViewBag.resturants)
            {
                <div class="resturant-detail">
                    <div class="resturant-name">@resturant.name</div>
                    <div class="resturant-link">
                        @Html.ActionLink("Details", "ResturantDetails", "Food", new { id = resturant.id })
                    </div>
                </div>
            }
        }
    </div>
</div>


